<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <!--<add name="PizzaDBConnectionString" connectionString="Data Source=DARSHIT-PC;Initial Catalog=PizzaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
     <add name="PizzaDBConnectionString" connectionString="Data Source=.;Initial Catalog=PizzaDB;User ID=sa;Password=system" providerName="System.Data.SqlClient" />
   
    </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  

</configuration>
